<form class="form-group">
            <div class="row">
         <div class="col-md-2">
            First Name
         </div>
         <div class="col-md2">
            <input type ="text" ng-model="formModels.firstname">
         </div>
     </div> 
     <div class="row">
         <div class="col-md-2">
            Last Name
         </div>
         <div class="col-md2">
            <input type ="text" ng-model="formModels.lastname">
         </div>
     </div>
     <div class="row">
          <div class="col-md-2">
             Address
          </div>
          <div class="col-md2">
              <input type ="text" ng-model="formModels.address">
          </div>
     </div>
     <div class="row">
         <div class="col-md-2">
             Phone
         </div>
         <div class="col-md2">
             <input type ="number" ng-model="formModels.phonenumber">
         </div>
     </div>
     <div class="row">
         <div class="col-md-2">
             Email
         </div>
         <div class="col-md2">
             <input type ="text" ng-model="formModels.email">
         </div>
     </div>
     <div class="row">
          <div class="col-md-2">
              SSN
          </div>
          <div class="col-md2">
              <input type ="number" ng-model="formModels.ssn">
          </div>
     </div>
          
            <button class="btn btn-success" ng-click=add()>Submit</button>
         </form>
      <table class="table table-striped"> 
            <tr>
                <th>TeacherId</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                </tr>
      <tr ng-repeat="x in teacherList|filter:search|orderBy:['teacherid']">
         <td>{{x.teacherid}}</td>
         <td>{{x.firstname}}</td>
         <td>{{x.lastname}}</td>
         <td>{{x.address}}</td>
         <td>{{x.email}}</td>
         <td>{{x.phonenumber}}</td>
            <td>
              <button class="btn btn-primary" ng-click="update(x.teacherid)">Update</button>
              <button class="btn btn-danger"ng-click="delete(x.teacherid)">Delete</button>
            </td>
      </tr>
      </table>